/* .gridContainer{
    display: "grid",
    gridTemplateColumns: repeat(3, 1fr),
    width: 50%,
    gap: 70px,
    padding: 20px auto,
    marginLeft: auto,
    marginRight: auto,
  };

   .gridItem{
    padding: "20px",
    borderRadius : "5px",
    boxShadow: "0px 2px 4px rgba(0, 0, 0, 0.1)",
    textAlign: "center",
  }; */

  